.text-center.row
	- if (previous_course_page = @previous_course_pages.first).present?
		.col-6
			%a.btn.btn-block.btn-sm.btn-dark{ href: dewey.enrollment_course_page_path( previous_course_page.id, enrollment_id: @enrollment.id ) } Previous
	- else
		.col-6
			%a.btn.btn-block.btn-sm.btn-dark{ href: dewey.enrollment_path( @enrollment ) } Previous
	- if (next_course_page = @next_course_pages.first).present?
		.col-6
			%a.btn.btn-block.btn-sm.btn-dark{ href: dewey.enrollment_course_page_path( next_course_page.id, enrollment_id: @enrollment.id ) } Next
	- else
		.col-6
			%a.btn.btn-block.btn-sm.btn-dark{ href: dewey.enrollment_path( @enrollment ) } Done
