/
	CONTENT --------------------------------------------------------------------------------->
	<!-- Intro Section
%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1{"data-background-img" => ( @recipes.first.try(:cover_image) || "https://keto-daily.com/wp-content/uploads/2018/10/Keto-Jicama-Fries-Basket-2.jpg" ) }
	.container
		.row.title
			%h2.h2 #{@titleized_tagged} Recipes
			.page-breadcrumb
				%a{ href: '/' } Home
				\/
				- if @tagged.present?

					%a{ href: main_app.recipes_path() } Recipes
					\/
					%span=@tagged
				- else
					%span Recipes

/ End Intro Section
/ Blog Post Section
%section.ptb.ptb-sm-80
	.container
		/ Post Item
		.row.masonry
			- @recipes.each do |recipe|
				.col-md-6.col-sm-6.nf-item.spacing-grid
					= render 'recipes/recipe_post', recipe: recipe, args: {}

		/ End Post Item
		/ Pagination Nav

		.pagination-nav.mt-60.mt-xs-30
			= raw paginate @recipes
		-# .pagination-nav.mt-60.mt-xs-30
			%ul
				%li
					%a{:href => "#"}
						%i.fa.fa-angle-left
				%li.active
					%a{:href => "#"} 1
				%li
					%a{:href => "#"} 2
				%li
					%a{:href => "#"} 3
				%li
					%a{:href => "#"}
						%i.fa.fa-angle-right
		/ End Pagination Nav
/ End Blog Post Section
/ End CONTENT ----------------------------------------------------------------------------
