

%a.pull-right.btn.btn-success{ data: { toggle: :modal, target: '#new_course_page_modal' } }
	%i.fa.fa-plus-square
	New
%h4 Course Pages
.clearfix

%table.table.table-striped.table-hover{ style: 'margin-top: 1em' }
	%thead
		%th Title
		%td Status
	%tbody
		- @course.course_pages.where.not( status: :trash ).order( lft: :asc ).each do |page|
			%tr
				%td
					%a{ href: main_app.edit_course_page_admin_path(page)  }=page.title
				%td
					= page.status
