- if @query
	%section
		.container
			.row
				.col-12
					%h4 Keto Nutrition Facts Search
					.row.mt-3
						.col-12.col-md-6
							= render 'search_form', args: { query: @query }

	%section.pb-5.pt-2
		.container
			.row
				- if @foods.present?
					- @foods.each do |food|
						= render 'foods/row', food: food, args: { query: @query }
				- else
					.col-12
						No Results.  Modifying your search results and try again.
- else
	%section.inner-intro.dark-bg.bg-image.overlay-dark.parallax.parallax-background1
		.container
			.row.title
				%h2.h2 Keto Nutrition Facts Search
				-# .page-breadcrumb
					%a{ href: '/' } Home
					\/
					- if @tagged.present?

						%a{ href: main_app.foods_path() } Keto Nutrition Facts
						\/
						%span=@tagged
					- else
						%span Keto Nutrition Facts
				.row.mt-3
					.col-12.col-md-6.offset-md-3
						= render 'search_form', args: { query: @query }
	- if @foods.present?
		%section.mt-3
			.container
				.row
					- @foods.each do |food|
						.col-12.col-sm-8.offset-sm-2.col-md-5.offset-md-0.col-lg-4.mb-5
							= render 'card', food: food, args: { query: @query }
