%section
	.container
		.row
			.col-12
				%h1.h2
					=@food.title
					%small Keto Nutrition Facts
					- if current_user.try(:admin?)
						%small
							%a.btn.btn-sm.btn-light{ href: main_app.edit_food_admin_path( @food ) } Edit
					-# %br
					-# \- Keto Nutrition Facts -
				%nav
					%ol.breadcrumb
						%li.breadcrumb-item
							%a{ href: '/' }> Home
						%li.breadcrumb-item.active
							%a{ href: main_app.foods_path( q: params[:q] ) }> Keto Nutrition Facts
%section.mt-5.mb-4
	.container
		.row
			.col-12
				- if @food.content.present?
					.fr-view.mb-5= raw @food.content
				%h2.h5.mb-0.text-center Keto Nutrition Facts
				= render 'foods/measures_table', food_measures: @food.food_measures, args: { food: @food, query: params[:q] }


%section.mt-5.mb-5
	.container
		.row
			.col-12.col-md-10.offset-md-1
				= render 'application/social', object: @food, args: { page: params[:page], disable_subscribe: true, disable_vote: true }
			-# .col-12.col-md-4
				= render 'foods/measure_facts', food: @food, food_measure: @food_measure, args: {}
