.container
	.row
		.col-12
			%nav{ 'aria-label' => 'breadcrumb' }
				%ol.breadcrumb
					%li.breadcrumb-item
						%a{ href: courses_path() } Courses
					%li.breadcrumb-item.active{ 'aria-current' => 'page' }= @course.title

			%h1= @course.title
			%h2 Syllabus
			.fr-view.mtb-30
				= raw @course.syllabus
			.mb-5
				%a.btn.btn-md.btn-dark{ href: new_enrollment_path( course_id: @course.id ) } Enroll Now!
