.container
	.row
		.col
			%h1 Courses
	- if @courses.blank?
		.row
			.col - No Courses -
	- @courses.each do |course|
		.row
			.col-12.col-md-4.mb-3
				= render 'card', course: course, args: {}
	.row
		.col
			= raw paginate @courses
