%script{ type: 'application/ld+json' }
	= raw @page_meta[:schema].to_json

.container
	.row
		.col-sm-6.col-md-5
			%img.img-responsive.center-block{ src: @media.avatar }

		.col-sm-7
			%h1
				= @media.title
			%p
				= @media.subtitle
			%div.mb-3
				= raw @media.content
			.addthis_inline_share_toolbox.share-5
