.payment-errors.alert.alert-danger.hide

.card-form-group
	.card-preview
	.form-group
		%label
			%span Card Number
		%input.form-control.card-number{ name: 'transaction_options[credit_card][card_number]', "data-stripe" => "number", :size => "20", :type => "text", :autocomplete => "cc-number", :required => true, 'data-minlength' => '19', 'data-cardnumber' => true }/
		.help-block.with-errors

	.row
		.col-12.col-md-6
			.form-group
				%label
					%span Expiration (MM/YY)
				%div
					%input.form-control.expiry-month{ name: 'transaction_options[credit_card][expiration]', "data-stripe" => "exp", :size => "9", :type => "text", style: 'width: auto;display:inline-block;', :autocomplete => "cc-exp", required: true, 'data-minlength' => '7', 'data-cardexpiry' => true }/
				.help-block.with-errors
		.col-12.col-md-6
			.form-group
				%label
					%span CVC
				%input.form-control{ name: 'transaction_options[credit_card][card_code]', "data-stripe" => "cvc", :size => "4", :type => "text", style: 'width: auto;', :autocomplete => "off", required: true, 'data-minlength' => '3', 'data-cardcvc' => true }/
				.help-block.with-errors
